<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card text-white bg-primary mb-3 mt-4" style="max-width: 18rem;">
        <div class="card-header">रजिस्टर क्रमांक - 01</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick </p>
        </div>
      </div>

      <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">रजिस्टर क्रमांक - 04</div>
        <div class="card-body">
          <h5 class="card-title">Danger card title</h5>
          <p class="card-text">Some quick </p>
        </div>
      </div>
    </div>
    <div class="col-4 mt-4">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">रजिस्टर क्रमांक - 02</div>
        <div class="card-body">
          <h5 class="card-title">Secondary card title</h5>
          <p class="card-text">Some quick </p>
        </div>
      </div>
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">रजिस्टर क्रमांक - 03</div>
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick </p>
        </div>
      </div>
    </div>
    <div class="col-4 mt-4">
      <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">रजिस्टर क्रमांक - 05</div>
        <div class="card-body">
          <h5 class="card-title">Warning card title</h5>
          <p class="card-text">Some quick </p>
        </div>
      </div>
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">रजिस्टर क्रमांक - 06</div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick </p>
        </div>
      </div>
    </div>
    <div class="col-4 mt-4">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">रजिस्टर क्रमांक - 07</div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick </p>
        </div>
      </div>
    </div>
    <div class="col mt-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">रजिस्टर क्रमांक - 08</div>
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">Some quick </p>
        </div>
      </div>
    </div>
    <div class="col mt-4">
      <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">रजिस्टर क्रमांक - 09</div>
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">Some quick </p>
        </div>
      </div>
    </div>
  </div>
</div>